html,
body {
  height: 100%;
  position: relative;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: auto;
  background-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
}
* {
  touch-action: none;
}
.header {
  text-align: center;
  overflow: hidden;
  height: 4.59459459rem;
}
.header img {
  width: 100%;
}
.header .userinfo {
  font-size: 0;
  margin-top: -4.72972973rem;
  color: #fff;
}
.header .userinfo p {
  font-size: 0.36486486rem;
  margin-bottom: 4px;
}
.header .userinfo span {
  font-size: 0.33783784rem;
}
.header .userinfo img {
  width: 1.75675676rem;
  height: 1.75675676rem;
  margin-top: 0.40540541rem;
  margin-bottom: 0.24324324rem;
  border-radius: 50%;
}
.navbar {
  border-top: 1px solid #f2f2f2;
  height: 1.37837838rem;
  display: flex;
  background-color: white;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
}
.navbar .item {
  flex: 1;
  text-align: center;
  color: #515151;
}
.navbar .item a,
.navbar .item a:visited {
  display: block;
  height: 100%;
  color: #515151;
}
.navbar .item.active,
.navbar .item.active a:visited {
  color: #d9261f;
}
.navbar .item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.navbar .item i {
  margin-top: 4px;
  font-size: 0.64864865rem;
}
.navbar .item span {
  font-size: 0.25675676rem;
}
.fill-height {
  height: 1.37837838rem;
}
.backbtn {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.backbtn i {
  flex: 1;
}
.list {
  background: white;
  padding: 0.54054054rem;
}
.list li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.list li label {
  width: 1.89189189rem;
  font-size: 0.37837838rem;
  text-align: justify;
}
.list li input {
  flex: 1;
  height: 1.08108108rem;
  -webkit-appearance: none;
  border: 1px solid gray;
  border-radius: 0;
}
.list li:last-of-type input {
  background: #f44336;
  color: white;
  border: none;
}
